# COVID-19 counties pilot data selection
- In this notebook, data from NY and CA is selected for the pilot analysis

#### Filtering only NY and CA counties data from the initial data frame:

In [34]:
# Import packages:
import pandas as pd
import os
import matplotlib.pyplot as plt

# Load the data:
save_path = r'C:\Users\marko\OneDrive\Documents\ADA master\Time Series Data Analysis\COVID_project\data'
fips_interpreter = pd.read_csv(os.path.join(save_path, 'fips_interpreter.csv'))
USA_data = pd.read_csv(os.path.join(save_path, 'USA_filtered_2.csv'))

View the data frame:

In [35]:
USA_data

,FIPS,County,State,Cases,Deaths,Full_Location,Date
0,1001,Autauga,Alabama,2168,31,"Autauga, Alabama, US",2020/11/01
1,1001,Autauga,Alabama,2182,31,"Autauga, Alabama, US",2020/11/02
2,1001,Autauga,Alabama,2195,31,"Autauga, Alabama, US",2020/11/03
3,1001,Autauga,Alabama,2210,31,"Autauga, Alabama, US",2020/11/04
4,1001,Autauga,Alabama,2229,31,"Autauga, Alabama, US",2020/11/05
...,...,...,...,...,...,...,...
1467684,56045,Weston,Wyoming,1521,17,"Weston, Wyoming, US",2022/02/10
1467685,56045,Weston,Wyoming,1523,17,"Weston, Wyoming, US",2022/02/11
1467686,56045,Weston,Wyoming,1524,17,"Weston, Wyoming, US",2022/02/12
1467687,56045,Weston,Wyoming,1524,17,"Weston, Wyoming, US",2022/02/13
1467688,56045,Weston,Wyoming,1524,17,"Weston, Wyoming, US",2022/02/14

In [38]:
california_data = USA_data.loc[USA_data.State == "California"]
california_data.FIPS.nunique() # in accordance with the actual number of California counties

58

In [39]:
ny_data = USA_data.loc[USA_data.State == "New York"]
ny_data.FIPS.nunique() # in accordance with the actual number of NY counties

62

In [40]:
# load the dates:
second_peak_dates = pd.read_excel(r"C:\Users\marko\OneDrive\Documents\ADA master\Time Series Data Analysis\COVID_project\data\COVID19_US_counties_second_peak_dates.xlsx")
second_peak_dates['state'] = second_peak_dates['state'].apply(lambda x: x.strip())
second_peak_dates

   start_date   end_date                 state
0  2020-10-04 2021-06-15               Alabama
1  2020-09-11 2021-06-28                Alaska
2  2020-10-13 2021-06-20               Arizona
3  2020-09-10 2021-06-10              Arkansas
4  2020-10-30 2021-06-10            California
5  2020-09-12 2021-06-28              Colorado
6  2020-09-10 2021-06-26           Connecticut
7  2020-09-10 2021-06-22              Delaware
8  2020-10-01 2021-06-30  District of Columbia
9  2020-10-24 2021-06-10               Florida
10 2020-10-18 2021-06-27               Georgia
11 2020-07-19 2021-06-01                  Guam
12 2020-06-24 2021-06-01                Hawaii
13 2020-09-10 2021-06-24                 Idaho
14 2020-09-18 2021-06-26              Illinois
15 2020-09-22 2021-06-13               Indiana
16 2020-09-11 2021-06-21                  Iowa
17 2021-08-29 2021-06-06                Kansas
18 2020-09-10 2021-06-25              Kentucky
19 2020-10-27 2021-06-10             Louisiana
20 2020-10-15 2021-07-05                 Maine
21 2020-09-26 2021-06-27              Maryland
22 2020-09-10 2021-06-27         Massachusetts
23 2020-09-24 2021-07-03              Michigan
24 2020-09-17 2021-07-03             Minnesota
25 2020-09-10 2021-06-10           Mississippi
26 2020-09-10 2021-06-04              Missouri
27 2020-09-14 2021-06-30               Montana
28 2020-09-04 2021-06-15              Nebraska
29 2020-10-20 2021-06-03                Nevada
30 2020-09-30 2021-06-25         New Hampshire
31 2020-09-30 2021-07-02            New Jersey
32 2020-09-13 2021-06-30            New Mexico
33 2020-09-15 2021-06-30              New York
34 2020-10-10 2021-06-27        North Carolina
35 2020-09-10 2021-07-04          North Dakota
36 2020-09-28 2021-07-04                  Ohio
37 2020-09-10 2021-06-06              Oklahoma
38 2020-10-18 2021-07-04                Oregon
39 2020-09-27 2021-07-01          Pennsylvania
40 2020-09-10 2021-06-07           Puerto Rico
41 2020-09-28 2021-06-19          Rhode Island
42 2020-11-09 2021-06-19        South Carolina
43 2020-08-11 2021-06-30          South Dakota
44 2020-09-10 2021-06-27             Tennessee
45 2020-10-07 2021-06-02                 Texas
46 2020-09-12 2021-06-18                  Utah
47 2020-11-04 2021-06-30               Vermont
48 2020-10-22 2021-06-28              Virginia
49 2020-10-18 2021-07-03            Washington
50 2020-10-01 2021-07-04         West Virginia
51 2020-09-03 2021-07-02             Wisconsin
52 2020-09-05 2021-05-06               Wyoming

In [41]:
cases_per_county_path = r'C:\Users\marko\OneDrive\Documents\ADA master\Time Series Data Analysis\COVID_project\data\data_by_county\pilot_cases_by_county'
deaths_per_county_path = r'C:\Users\marko\OneDrive\Documents\ADA master\Time Series Data Analysis\COVID_project\data\data_by_county\pilot_deaths_by_county'

import warnings

import pandas as pd
from pandas.errors import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)
states = ["California", "New York"]

for state in states:
    one_state_df = USA_data[USA_data.State == state]
    one_state_df["Date"] = pd.to_datetime(one_state_df["Date"])
    start = second_peak_dates.loc[second_peak_dates.state == state, "start_date"].values[0]
    end = second_peak_dates.loc[second_peak_dates.state == state, "end_date"].values[0]
    one_state_df = one_state_df[(one_state_df.Date >= start) & (one_state_df.Date <= end)]
    cases_state_data = one_state_df[["Date","Cases","FIPS"]].copy()
    deaths_state_data = one_state_df[["Date","Deaths","FIPS"]].copy()
    for county in one_state_df.FIPS.unique():
        # Cases
        one_county_cases = cases_state_data[cases_state_data.FIPS == county]
        one_county_cases.drop("FIPS",axis=1,inplace=True)
        one_county_cases["Error"] = 0.05
        cases_filename = "".join([str(county),"_cases.csv"])
        one_county_cases.to_csv(os.path.join(cases_per_county_path,cases_filename),index=False)

        one_county_deaths = deaths_state_data[deaths_state_data.FIPS == county]
        one_county_deaths.drop("FIPS",axis=1,inplace=True)
        one_county_deaths["Error"]=0.5
        deaths_filename = "".join([str(county),"_deaths.csv"])
        one_county_deaths.to_csv(os.path.join(deaths_per_county_path,deaths_filename),index=False)